@model IEnumerable<AgroApp.Models.UserModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Pracownicy</h1>

<p>
    @if (User.IsInRole("Administrator"))
    {
        <input type="button" class="btn btn-primary btn-sm m-0" value="Dodaj pracownika" onclick="location.href='@Url.Action("Create", "Account")'" />
    }
</p>
<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Imię")
                    </th>
                    <th>
                        @Html.DisplayName("Nazwisko")
                    </th>
                    <th>
                        @Html.DisplayName("Stanowisko")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                        <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                        <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                        <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary btn-sm m-0" value="Zadania" onclick="location.href='@Url.Action("EmployeeTasks", "Task", new {  id=item.Id  })'" />
                         <input type="button" class="btn btn-info btn-sm m-0" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Account", new {  id=item.Id  })'" />
                         @if(User.IsInRole("Administrator")){
                          <input type="button" class="btn btn-warning btn-sm m-0" value="Edycja" onclick="location.href='@Url.Action("Edit", "Account", new {  id=item.Id  })'" />
                         }
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>