@model AgroApp.Models.MachineModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>

<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
            <div>
                <h4>Usuń maszynę</h4>
                <hr />
                <dl class="row">
                    <dt class = ">
                        @Html.DisplayNameFor(model => model.Brand)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.Brand)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.Model)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.Model)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.ProductionYear)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.ProductionYear)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.LastService)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.LastService)
                    </dd>
                </dl>
                <h5 class="text-center">Czy na pewno chcesz usunąć maszynę?</h5>
                <form class="text-center" asp-action="Delete">
                    <input type="submit" value="Tak" class="btn btn-danger" />
                    <input type="button" class="btn btn-primary" value="Nie" onclick="location.href='@Url.Action("Index", "Machine")'" />
                </form>
            </div>
        </div>
    </div>
</div>
