@model IEnumerable<AgroApp.Models.MachineModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Maszyny</h1>

 <input type="button" class="btn btn-primary btn-sm m-0" value="Dodaj Maszynę" onclick="location.href='@Url.Action("Create", "Machine", new {  id=ViewBag.FarmId  })'" />

<div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.ProductionYear)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.LastService)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Farm.FarmId)
            </td>
            <td>
                <input type="button" class="btn btn-primary btn-sm m-0" value="Przeglądy" onclick="location.href='@Url.Action("Details", "Machine", new {  id=item.MachineId  })'" />
                <input type="button" class="btn btn-warning btn-sm m-0" value="Edycja" onclick="location.href='@Url.Action("Edit", "Machine", new {  id=item.MachineId  })'" />
                <input type="button" class="btn btn-danger btn-sm m-0" value="Usuń" onclick="location.href='@Url.Action("Delete", "Machine", new {  id=item.MachineId  })'" />
  
            </td>
        </tr>
}
    </tbody>
</table>

</div>
</div>
