@model IEnumerable<AgroApp.Models.MachineModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.FarmId">Create New</a>
</p>

<div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Farm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Farm.FarmId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachineId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachineId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachineId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
</div>
