@model AgroApp.Models.FarmModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FarmModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarmName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarmName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarmStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarmStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FarmOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FarmOwner.Id)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.FarmId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
