@model IEnumerable<AgroApp.Models.FarmModel>

<p>
    <input type="button" class="btn btn-primary btn-sm m-0" value="Dodaj gospodarstwo" onclick="location.href='@Url.Action("Create", "Farm")'" />
</p>

<h1>Gospodarstwa</h1>

<div class="col-sm col-md col-lg mx-auto">
    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FarmName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FarmStatus)
                        </th>
                        <th>
                           @Html.DisplayNameFor(model => model.FarmOwnerName)
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FarmName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FarmStatus)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.FarmOwnerName)
                        </td>
                        <td>
             
                            <input type="button" class="btn btn-primary btn-sm m-0" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Farm", new {  id=item.FarmId  })'" />
                            <input type="button" class="btn btn-warning btn-sm m-0" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Farm", new {  id=item.FarmId  })'" />
                            <input type="button" class="btn btn-danger btn-sm m-0" value="Usuń" onclick="location.href='@Url.Action("Delete", "Farm", new {  id=item.FarmId  })'" />
                        </td>
            
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>
