@model IEnumerable<UserModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Użytkownicy</h1>
    <p>
        <input type="button" class="btn btn-primary btn-sm m-0" value="Dodaj użytkownika" onclick="location.href='@Url.Action("Register", "Account", new {  id=ViewBag.FarmId  })'" />
    </p>

<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <div class="card-body p-4 p-sm-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Imię")
                        </th>
                        <th>
                            @Html.DisplayName("Nazwisko")
                        </th>
                        <th>
                            @Html.DisplayName("Login")
                        </th>
                        <th>
                            @Html.DisplayName("E-mail")
                        </th>
                        <th>
                            @Html.DisplayName("Stanowisko")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            <input type="button" class="btn btn-warning btn-sm m-0" value="Edycja" onclick="location.href='@Url.Action("Edit", "Account", new {  id=item.Id  })'" />
                            <input type="button" class="btn btn-danger btn-sm m-0" value="Usuń" onclick="location.href='@Url.Action("Delete", "Account", new {  id=item.Id  })'" />
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>
        
