@model AgroApp.Models.TaskModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>


<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
            <div>
                <h4>TaskModel</h4>
                <hr />
                <dl class="row">
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.Subject)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.Subject)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.CreateDate)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.ExpectedEndDate)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.ExpectedEndDate)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.dateTime)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.dateTime)
                    </dd>
                </dl>
    
    
                    <h5 class="text-center">Czy na pewno chcesz usunąć zadanie?</h5>
                    <form class="text-center" asp-action="Delete">
                        <input type="hidden" asp-for="TaskId"/>
                    <input type="submit" value="Tak" class="btn btn-danger" />
                    <input type="button" class="btn btn-primary" value="Nie" onclick="location.href='@Url.Action("EmployeeTasks", "Task")'" />
                    </form>
            </div>
        </div>
    </div>
</div>
