@model IEnumerable<AgroApp.Models.TaskModel>

@{
    ViewData["Title"] = "EmployeeTasks";
}

<h1>Zadania pracownika</h1>

<p>
    <input type="button" class="btn btn-primary btn-sm m-0" value="Dodaj zadanie" onclick="location.href='@Url.Action("CreateForUser", "Task", new {  id=ViewBag.UserId  })'" />
</p>

<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h2>Aktywne zadania</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpectedEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dateTime)
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                    if (item.IsDone == false)
                    {
                        <tr>
                            <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ExpectedEndDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.dateTime)
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary btn-sm m-0" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Task", new {  id=item.TaskId  })'" />
                        <input type="button" class="btn btn-warning btn-sm m-0" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Task", new {  id=item.TaskId  })'" />
                        <input type="button" class="btn btn-danger btn-sm m-0" value="Usuń" onclick="location.href='@Url.Action("Delete", "Task", new {  id=item.TaskId  })'" />
                    </td>
                </tr>
                }
        }
            </tbody>
        </table>
    </div>
</div>


<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h2>Ukończone zadania</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpectedEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dateTime)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {if(item.IsDone==true){
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ExpectedEndDate)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.dateTime)
                        </td>
                        <td>
                            <input type="button" class="btn btn-primary btn-sm m-0" value="Szczegóły" onclick="location.href='@Url.Action("Details", "Task", new {  id=item.TaskId  })'" />
                            <input type="button" class="btn btn-warning btn-sm m-0" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Task", new {  id=item.TaskId  })'" />
                            <input type="button" class="btn btn-danger btn-sm m-0" value="Usuń" onclick="location.href='@Url.Action("Delete", "Task", new {  id=item.TaskId  })'" />
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
