@model IEnumerable<AgroApp.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.FarmId">Create New</a>
</p>

<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h2>Aktywne zadania</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpectedEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dateTime)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
            if(item.IsDone == false){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpectedEndDate)
                    </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dateTime)
                            </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                    </td>
                </tr>
                    }
        }
            </tbody>
        </table>
    </div>
</div>


<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        <h2>Ukończone zadania</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ExpectedEndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dateTime)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {if(item.IsDone == true){
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExpectedEndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dateTime)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
