@model AgroApp.Models.FieldModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie</h1>


<div>
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h4>Usuń działkę</h4>
                <hr />
                <dl class="row text-center">
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.Number)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.Number)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class = "">
                        @Html.DisplayNameFor(model => model.Area)
                    </dt>
                    <dd class = "">
                        @Html.DisplayFor(model => model.Area)
                    </dd>
                </dl>
                <h5 class="text-center">Czy na pewno chcesz usunąć działkę?</h5>
                <form class="text-center" asp-action="Delete">
                    <input type="submit" value="Tak" class="btn btn-danger" />
                    <input type="button" class="btn btn-primary" value="Nie" onclick="location.href='@Url.Action("Index", "Field")'" />
                </form>
            </div>
        </div>
    </div>
</div>
