@model IEnumerable<AgroApp.Models.FieldModel>

@{
    ViewData["Title"] = "Index";
    ViewData["Entries"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>



       <h1>Spis pól</h1>
       <p>
     <input type="button" class="btn btn-primary btn-sm m-0" value="Dodaj działkę" onclick="location.href='@Url.Action("Create", "Field", new {  id=ViewBag.FarmId  })'" />
     </p>

<div class="card border-0 shadow rounded-3 my-5">
    <div class="card-body p-4 p-sm-5">
        @if (Model != null)
                {
        <table class="table table-striped">
            <thead>
                <tr>
            
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
          
                    <th>
                        @Html.DisplayNameFor(model => model.Area)
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rows">

                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Number)
                            </td class="align-middle">
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td class="align-middle">
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => item.Area)

                                <td class="">
                                    <input type="button" class="btn btn-primary btn-sm m-0" value="Wpisy" onclick="location.href='@Url.Action("Details", "Field", new {  id=item.FieldId  })'" />
                                    <input type="button" class="btn btn-warning btn-sm m-0" value="Edytuj" onclick="location.href='@Url.Action("Edit", "Field", new {  id=item.FieldId  })'" />
                                    <input type="button" class="btn btn-danger btn-sm m-0" value="Usuń" onclick="location.href='@Url.Action("Delete", "Field", new {  id=item.FieldId  })'" />
                                </td>

                        </tr>
                    }
            </tbody>
        </table>
         } else
                {
                   <h1>Brak danych do wyświetlenia</h1>
                        }
    </div>
</div>

